<div class="card text-start mx-auto">
  <div class="card-header">
    <h1>APicOfDay</h1>
  </div>
  <div class="card-body">
    <table>
      <tr align="center">
        <th>0*</th>
        <th>0M</th>
        <th><img src="assets/unnamed.webp" alt="image"></th>
      </tr>
      <tr>
        <td>0k reviews | </td>
        <td>Downloads | </td>
        <td>Everyone <a href="https://support.google.com/googleplay/answer/6209544?visit_id=637939456790845558-1790802851&p=appgame_ratings&rd=1"> ?</a></td>
      </tr>
    </table>
    <p class="mt-4">This application Android is available for all devices 28+</p>
    <table>
      <tr align="center">
        <th><img class="card-img" src="assets/Screenshot_20220720-015101_Astronomy Picture of the Day.jpeg" alt="image"></th>
        <th><img class="card-img" src="assets/Screenshot_20220720-015128_Astronomy Picture of the Day.jpeg" alt="image"></th>
        <th><img class="card-img" src="assets/Screenshot_20220720-015158_Astronomy Picture of the Day.jpeg" alt="image"></th>
        <th><img class="card-img" src="assets/Screenshot_20220720-015220_Astronomy Picture of the Day.jpeg" alt="image"></th>
        <th><img class="card-img" src="assets/Screenshot_20220720-015247_Astronomy Picture of the Day.jpeg" alt="image"></th>
        <th><img class="card-img" src="assets/Screenshot_20220720-015326_Astronomy Picture of the Day.jpeg" alt="image"></th>
      </tr>
    </table>
    <p class="mt-4">About this app -></p>
    <p class="mt-4">The images are presented with the authorization of the propietary institutions, 
      by means of a key delivered by them. The application presents the images with 
    educational objective, not for business. The application is free and does not even have commercial ads.</p>
    <p class="mt-4">Update on: Jul 20 2022</p>
    <button type="button" class="btn btn-warning mt-4" (click)="showHumanRights()">Education</button>
    <p class="mt-4">{{humanRights}}</p>
    <div class="card-footer text-muted">
      <a href="assets/english.html">Privacy</a>
    </div>
  </div>
</div>
