<div class="card mx-auto">
  <div class="card-header text-center">
    <h1>Picture of the day</h1>
  </div>
  <div class="card-body">
    <h2 class="text-center">{{responseCloud.data.title | uppercase}}</h2>
    <h3 class="text-center">{{todayString | date }}</h3>
    <div [ngSwitch]="responseCloud.data.media_type">
      <div *ngSwitchCase="'image'">
        <img class="card-img" src={{pathImage}} alt="Image">
      </div>
      <div *ngSwitchCase="'video'">
        <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item mt-4" [src]="urlSafe" allowfullscreen></iframe> 
        </div>
      </div>
    </div>
    <p class="card text-end">Image Credit: NASA</p>
  </div>
  <div class="card-footer text-center text-muted">
    <p>CopyRight: David Arturo Silva</p>
    <p>Email: dasilvaba@apicday.web.app </p>
    <p>Mobile: +59169804711 </p>
    <p>Country: Bolivia-La Paz </p>
  </div>
</div>
