<div class="card text-center mx-auto">
  <div class="card-header">
    <h1>Picture of the day</h1>
  </div>
  <div class="card-body">
    <h2>{{picDay.title | uppercase}}</h2>
    <img class="card-img" src={{picDay.hdurl}} alt="Image">
    <p class="card text-end">Image Credit: NASA</p>
  </div>
  <div class="card-footer text-muted">
    <p>CopyRight: David Arturo Silva</p>
    <p>Email: dasilvaba@apicday.web.app </p>
    <p>Mobile: +59169804711 </p>
    <p>Country: Bolivia-La Paz </p>
  </div>
</div>
