<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Picture of day</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/detail">Detail Picture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Search Picture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mobile">Google Play</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/privacy">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
</nav>