<div class="card mx-auto">
  <div class="card-header text-center">
    <h1>{{responseCloud.data.title}}</h1>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-around">
      <h3>{{selectedDate | date }}</h3>
      <input type="date" value={{currentDate}} [ngModel]="selectedDate" max={{currentDate}}
        (ngModelChange)="onSelect($event)" />
    </div>
    <div class="text-center" [ngSwitch]="responseCloud.data.media_type">
      <div *ngSwitchCase="'image'">
        <img class="card-img" [src]="responseCloud.data.url" alt="Image">
      </div>
      <div *ngSwitchCase="'video'">
        <div class="embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item mt-4" [src]="urlSafe" allowfullscreen></iframe> 
        </div>
      </div>
    </div>
    <div class="mt-4">
      <p class="card-text p-3">{{responseCloud.data.explanation}}</p>
    </div>
  </div>
</div>
