<div class="card mx-auto">
  <div *ngIf="responseCloud">
    <div class="card-header text-center">
      <h1>{{responseCloud.data.title}}</h1>
    </div>
    <div class="card-body">
      <h3 class="text-center">{{todayString | date }}</h3>
      <div class="text-center" [ngSwitch]="responseCloud.data.media_type">
        <div *ngSwitchCase="'image'">
          <img class="rounded mx-auto" src={{responseCloud.data.url}} alt="Image">
        </div>
        <div *ngSwitchCase="'video'">
          <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item mt-4" [src]="urlSafe" allowfullscreen></iframe> 
          </div>
        </div>
      </div>
      <div class="mt-4">
        <p class="card-text p-3">{{responseCloud.data.explanation}}</p>
      </div>
    </div>
  </div>
</div>

